<launch>
      <!--node pkg="tf" type="static_transform_publisher" name="map" args="0.0 0.0 0.0 0.0 0.0 0.0 world map 100" /-->
      <!--node pkg="tf" type="static_transform_publisher" name="vive_world_orientation" args="0.0 0.0 0.0 3.14159 0.0 1.5707 map vive_world_orientation 100" /-->
      <!--node pkg="tf" type="static_transform_publisher" name="vive_world_orientation2" args="0.0 0.0 0.0 3.14159 0.0 1.5707 map vive_world_orientation2 100" /-->
      <!--node pkg="tf" type="static_transform_publisher" name="vive_world_orientation" args="0.0 0.0 0.0 0.0 -0.987 0.0 vive_world_orientation2 vive_world_orientation 100" /-->
      <node pkg="tf" type="static_transform_publisher" name="d" args="-0.2 0.0 -0.8 0.0 0.0 0.0 LHB_39D26ECC world 500" />

      <node pkg="vive_tracker" name="vive_tracker" type="vive_tracker.py" output="screen"/>
</launch>

